.image {
    height: 170px;
    width: 170px;
}

.stripe {
    width: 680px;
    padding: 20px;
    justify-content: space-around;
    margin-bottom: 10px;
}

#background {
    background-color: black;
    color: red;
    height: 780px;
    width: 720px;
    padding: 20px;

}

#background p {
    text-align: center;
    font-size: 2rem;
}

#noir {
    background-color: #221E1F;
    display: flex;
}

#whiteStripe {
    background-color: #FFFFFF;
    display:flex;
    margin-top: 10px;
}

#daftPunkGrey {
    background-color: red;
    background-image: linear-gradient(rgb(226, 124, 99), rgba(48, 48, 248, 0.795));
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
}

#credit {
    text-align: center;
    font-size: 1.25rem;
}